;--------------------------------------------------
; S16 "standard" config file
; S16.config
;--------------------------------------------------
; TRACE-ing parameters setting must be one of { true,false }
ENABLE_TRACING = true
TRACE_INSTRUCTIONS = true
TRACE_MEMORY_ALLOCATION = true
TRACE_SJF_SCHEDULING = true
TRACE_SCHEDULER = true
TRACE_DISPATCHER = true
TRACE_QUEUES = true
TRACE_STATISTICS = true
TRACE_HWINTERRUPTS = true
TRACE_MISCELLANEOUS_SVC = true
TRACE_PROCESS_MANAGEMENT = true
TRACE_RESOURCE_MANAGEMENT = true
TRACE_TERMINAL_IO = true
TRACE_DISK_IO = true
TRACE_MEMORYSEGMENTS = true
TRACE_MESSAGEBOXES = true
TRACE_SEMAPHORES = true
TRACE_MUTEXES = true
TRACE_EVENTS = true
TRACE_PIPES = true
;***NEW
TRACE_DEADLOCK_DETECTION = true
TRACE_SIGNALS = true
;***ENDNEW

; CPU short-term scheduler setting must be one of 
;   { FCFS_CPU_SCHEDULER,PRIORITY_CPU_SCHEDULER,SJF_CPU_SCHEDULER }
CPU_SCHEDULER = FCFS_CPU_SCHEDULER;

; Priority parameter settings should satisfy
;    ( 0 <= MAXIMUM_PRIORITY <= DEFAULT_PRIORITY <= MINIMUM_PRIORITY )
MINIMUM_PRIORITY = 10
DEFAULT_PRIORITY =  5
MAXIMUM_PRIORITY =  1

; SJF alpha parameter setting should be a fixed-point number in the range [ 0.0,1.0 ]
alpha = 0.50

; setting must be in { true,false }, time quantum setting should 
;    satisfy ( 50 <= TIME_QUANTUM )
USE_PREEMPTIVE_CPU_SCHEDULER = false
TIME_QUANTUM = 10000

; message queue scheduler parameter setting must be FCFS_MQ_SCHEDULER
MQ_SCHEDULER = FCFS_MQ_SCHEDULER

; disk IO queue scheduler parameter setting must be FCFS_DISKIOQ_SCHEDULER
DISKIOQ_SCHEDULER = FCFS_DISKIOQ_SCHEDULER

; setting must be one of { true,false }, S16clock quantum should satisfy 
;   ( 10000 <= S16CLOCK_QUANTUM )
USE_S16CLOCK_QUANTUM = true
S16CLOCK_QUANTUM = 10000

; service request wait time parameters should satisfy
;   ( 20 <= MINIMUM_SVCWAITTIME <= MAXIMUM_SVCWAITTIME )
MINIMUM_SVCWAITTIME =  20
MAXIMUM_SVCWAITTIME = 200

;***NEW***
; context switch time should satisfy ( CONTEXT_SWITCH_TIME > 0 )
CONTEXT_SWITCH_TIME = 10

; deadlock detection algorithm should be one of 
;   { DEADLOCK_DETECTION_METHOD1,DEADLOCK_DETECTION_METHOD2,NO_DEADLOCK_DETECTION }
DEADLOCK_DETECTION_ALGORITHM = DEADLOCK_DETECTION_METHOD1
;***ENDNEW

; Terminal IO settings
DEFAULT_TERMINAL_PROMPT = "? "
TRUE_STRING  = "true"
FALSE_STRING = "false"

; default SSSize measured in pages should be in range [ 1,126 ]
DEFAULT_SSSIZE_IN_PAGES = 8
